@import "./components/header.css";
@import "./components/main.css";
@import "./components/footer.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --header-height: 75px;
  --dark: #44475a;
  --medium: #44475a;
  --light: #44475a;
  --contrast-text: #f8f8f2;
  --accent-1: #ff5555;
  --accent-2: #50fa7b;
  --footer-height: 50px;
}

@media (prefers-color-scheme: light) {
  :root {
    --header-height: 75px;
    --dark: #44475a;
    --medium: #44475a;
    --light: #44475a;
    --contrast-text: #f8f8f2;
    --accent-1: #ffff;
    --accent-2: #50fa7b;
    --footer-height: 50px;
  }
}
